.gallery {
	margin:20px auto;
}

figure.gallery-item {
  margin: 2%;
}

.gallery-columns-6 {
	-webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  @include breakpoint(small) {
  	-webkit-columns: 4;
  	-moz-columns: 4;
  	columns: 4;
  }
  @include breakpoint(large) {
  	-webkit-columns: 6;
  	-moz-columns: 6;
  	columns: 6;
  }
}

.gallery-columns-5 {

	-webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;

  @include breakpoint(small) {
	-webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
	}

	@include breakpoint(large) {
	-webkit-columns: 5;
  -moz-columns: 5;
  columns: 5;
	}
}

.gallery-columns-4 {
	-webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;

  @include breakpoint(large) {
	-webkit-columns: 5;
  -moz-columns: 5;
  columns: 5;
	}
}

.gallery-columns-3 {
	-webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;

  @include breakpoint(large) {
	-webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
	}
}

.gallery-columns-2 {
	-webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}