@mixin outer-container($local-max-width: $max-width) {
  @include clearfix;
  max-width: $local-max-width;
  margin: {
    left: auto;
    right: auto;
  }
}

.container, .site-main, .site-content {
	@include outer-container($max-width + 5.75em);
}

.site-content {
	// min-height: 500px;
}

.content-area, .content-blog, .content-page {

		// padding: 3em 0;
		// display: inline-block;
		
	#main {
		@include span-columns(9);
		border-right: 1px solid $lite-grey;
		padding: 3em 4em 3em 0;
	}
}

// .content-blog {
// 	// padding: 3em 0;

// 	.entry-content {
// 		max-width: 700px;
// 		margin:auto;
// 	}
// }

@include direction-context(right-to-left) {
	#secondary {
		@include span-columns(3);
		padding: 3em 0 3em 4em;
	}
}