@mixin outer-container($local-max-width: $max-width) {
  @include clearfix;
  max-width: $local-max-width;
  margin: {
    left: auto;
    right: auto;
  }
}

.container, .site-main, .site-content {
	@include outer-container($max-width + 5.75em);
}

.site-content {
	// min-height: 500px;
}

.content-area, .content-blog, .content-page {

		// padding: 3em 0;
		// display: inline-block;
		
	#main {
        padding: 1em;
        @include breakpoint(small) { padding: 2em; }
		@include breakpoint(large) { @include span-columns(9);
		// border-right: 1px solid $lite-grey;
		padding: 3em 4em 3em 0;}
	}
}

// .content-blog {
// 	// padding: 3em 0;

// 	.entry-content {
// 		max-width: 700px;
// 		margin:auto;
// 	}
// }


aside {
        padding: 1em;
        @include breakpoint(small) { padding: 2em; }
		@include breakpoint(large) { @include span-columns(3, block-collapse);
        padding: 0;
         }

	section {
		// padding: 2em 3em;
    
    margin-top: 3em;
    border-radius: 3px;
    border: 1px solid $lite-grey;

    h4 {
    	padding: 1em 2em 0.875em;
    	background: rgba($lite-grey, 0.25);
	    border-bottom: 1px solid rgba($grey, 0.25);
	    text-transform: uppercase;
	    color: rgba($grey, 0.65);
	    font-size: 1em;
	    margin: 0;
    }
    ul {
    	margin-bottom: 0;
    }
    li {
    	margin-left:0;
    	margin-bottom: 0;

    	a {
    		padding: 0.875em 2em;
    		border-bottom: 1px solid $lite-grey;
    		display: block;
    		text-decoration: none;
    		transform: all ease 500ms;

    		&:hover {
    			background: $lite-blue;
    		}
    	}

    	&:last-child a {
    			border-bottom: none;
    		}

     ul.sub-menu li {
     	a {
			padding: 0.75em 2em;
	     &:before {
	     	content: '–';
	    	margin-right: 7px;
	     }
	     
	   }
	   &:last-child a {
	     	border-bottom: 1px solid $lite-grey;
	     }
	   }
    }
  }
	}