.content-blog {
	header.page-title {
		border-bottom: none;
		padding:0;
		margin:0;
	}
	header {
		margin-bottom: 2em;
		border-bottom: 1px solid $lite-grey;
		padding-bottom: 2em;

		h1 {
			// font-weight: normal;
			color: $dark-blue;
		}
		h2 {
			@include font-size(32);
  		@include line-height (36);
		}
	}

	figure {
		padding: 1.3em;
		border-bottom:1px solid $lite-grey;
		border-left:1px solid $lite-grey;
	}
}

time.updated, .cat-links {
	@extend %visuallyhidden;
}

.entry-meta {
	color: $grey;
	a {
		color:$grey;
	}
}

span.tags-links {

	display:inline-block;

	a {
		display: inline-block;
	  padding:3px 10px;
	  border-radius: 6px;
	  border: 1px solid $lite-grey;
	  text-decoration: none;
	  text-transform: uppercase;
	  font-weight: 400;
	  color: $grey;
	  font-size: 0.75em;
	  text-shadow: none;
	  box-shadow: none;
	  margin: 3px 1px;

	  &:hover {
	  	color: $link-color;
	  	border-color: $link-color;
	  	background: $lite-blue;
	  }
	}
}

.navigation.post-navigation {
	margin-bottom: 2em;
	// border-top: 1px solid $lite-grey;
	padding-top: 2em;
}

.blog article {
	margin-bottom: 4em;
	padding-bottom: 4em;
}

.content-blog {
	article {
		border-bottom: 1px solid $grey;
	}
}

.nav-links {
	.nav-previous {
	  width: 50%;
	  float: left;

	  &:before {
	  	content: 'Previous Post';
	  	@include font-size(12);
	  	text-transform: uppercase;
	  	font-family: $secondary-font;
	  	color: $grey;
	  	padding-left: 1em;
	  	}
	  }
	  .nav-next {
	  	width: 50%;
	  	float: left;
	  	
	  	&:before {
	  	content: 'Next Post';
	  	float: right;
	  	@include font-size(12);
	  	text-transform: uppercase;
	  	font-family: $secondary-font;
	  	color: $grey;
	  	padding-left: 1em;
	  	}
	  }
  a {
  	padding: 1em;
  	display: inline-block;
  	}
}